<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MediaScoutGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<MediaScoutGUI.Properties.Settings>
   <setting name="TVfileformat" serializeAs="String">
    <value>{0} - {1}x{3} - {2}</value>
   </setting>
   <setting name="forceUpdate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="renameTVFiles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="getSeasonPosters" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="moveTVFiles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="getEpisodePosters" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="getSeriesPosters" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SeasonFolderName" serializeAs="String">
    <value>Season</value>
   </setting>
   <setting name="allowedFileTypes" serializeAs="String">
    <value>.avi;.mkv;.mp4;.mpg;.mpeg;.ogm;.wmv;.divx;.dvr-ms</value>
   </setting>
   <setting name="allowedSubtitles" serializeAs="String">
    <value>.sub;.idx;.srt</value>
   </setting>
   <setting name="downloadAllTVImages" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EpisodeNumZeroPadding" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="SeasonNumZeroPadding" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SilentMode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="downloadAllTVBackdrops" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="downloadAllTVSeasonPosters" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="downloadAllTVPosters" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="downloadAllTVBanners" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="getMoviePosters" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="getMovieFilePosters" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="moveMovieFiles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="downloadAllMovieImages" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="downloadAllMoviePosters" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="downloadAllMovieBackdrops" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Moviefileformat" serializeAs="String">
    <value>{0}</value>
   </setting>
   <setting name="MovieDirformat" serializeAs="String">
    <value>{0} ({1})</value>
   </setting>
   <setting name="renameMovieFiles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SublightCmd" serializeAs="String">
    <value />
   </setting>
   <setting name="forceEnterSearchTerm" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SpecialsFolderName" serializeAs="String">
    <value>Specials</value>
   </setting>
   <setting name="FullBackdropView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableGlassFrame" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="downloadAllTVSeasonBackdrops" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SaveXBMCMeta" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SaveMyMoviesMeta" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TVFSWatcher" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="overwriteFiles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ImagesByNameLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="SaveTVActors" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SaveMovieActors" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MovieFSWatcher" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Zoom" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="AutoSelectMovieTitle" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SublightUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="SublightPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="Sublight" serializeAs="String">
    <value />
   </setting>
   <setting name="TVDropBoxLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="MovieDropBoxLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
  </MediaScoutGUI.Properties.Settings>
	</userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfSublight" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.sublight.si/API/WS/WcfSublight.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfSublight"
          contract="IWcfSublight" name="BasicHttpBinding_IWcfSublight" />
    </client>
  </system.serviceModel>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
